@import url('https://fonts.googleapis.com/css?family=Roboto:300,400')
@import url('https://fonts.googleapis.com/css?family=Roboto:700&text=0123456789')
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300&text=DorsBkingMetSalyG')

*, *:before, *:after
	position: relative

body
	font-family: 'Roboto', sans-serif
	font-weight: 300

section
	padding: 1rem 5%