.signin

	main section
		max-width: 20rem
		margin: 0 auto

	form
		input
			width: 100%

	p
		margin-top: 3rem
		a
			text-decoration: none
			&:hover
				text-decoration: underline

	html
		background: url(resources/) no-repeat center center fixed
		-webkit-background-size: cover
		-moz-background-size: cover
		-o-background-size: cover

	$body-bg: transparent