.signin
	background: #1f1f1f url("../resources/bgpic-sm.jpg") no-repeat top center
	background-size: cover

	main section
		max-width: 20rem
		margin: 0 auto

	form
		fieldset
			padding: 0
			margin: 0
		label
			padding: 0.25rem
			background: rgba( #f3f3f3, 0.5)
			font-weight: 500
		input
			width: 100%

		input[type="submit"]
			margin: 0.75rem 0 0

	p
		margin-top: 3rem
		a
			color: #ddd
			padding: 0.25rem
			text-decoration: none
			display: block
			text-align: center
			// background: rgba(#1f1f1f, 0.2)
			&:hover
				text-decoration: underline

